

@{
    ViewBag.Title = "Not Found";
}


@* <h2>Sorry, the resource you requested could not be found. </h2> *@

<h1>@ViewBag.ErrorMessage</h1>

<h1>@ViewBag.Path</h1>

<h1>@ViewBag.QS</h1>

<a asp-action="Index" asp-controller="Home">
    Click Here to navigate to home page
</a>